body{
    background: #FFFFCC;
}

h2{
    text-indent: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    color: #FF0000;
    text-align: center;
}

p{
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #FF0000;
    text-align: center;
}
p.baidoc{
    text-indent: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: blue;
    text-align: justify;
}
p.noidung{
    text-indent: 20px;
    margin-left: 0;
    margin-right: 0; 
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: black;
    text-align: justify;
}